* {
   margin: 0;
   padding: 0;
}

/* header option */
.header {
    width: auto;
    height: 400px;
    align-content: center;
}

.header-img {
    width: auto;
    height: 400px;
    background-image: url(/FB.jpg);
    align-content: center;
}

.header-text{
   font-size: 50px;
   font-weight: bold;
   color: gold;
   text-align: center;
}

.text {
    color: white;
    font-size: 20px;
    text-align: center;
    /* width: 800px; */
    align-items: self-end;
}


/* -------------------------------- */
/* body option */
.about-me {
    width: auto;
    height: 200px;
    /* background-color: black; */
    color: aquamarine;
    margin-top: 100px;
    text-align: center;
    align-content: center;
}

.about-header {
   color: black;
   font-weight:bolder;
   font-size: 29px;
   display: inline-block;
   background-color: orange;
   border: 2px solid orange;
   border-radius: 25px;
   padding: 10px;
   box-shadow: 3px 3px 3px 3px rgb(71, 71, 71);
}

.about-text {
    color: black;
    /* background-color: darkgray; */
    display: inline-block;
    text-align: center;
    
}

.exp-works {
    width: auto;
    text-align: center;
    align-content: center;
    margin-top: 100px;
}

.works-header {
    color: black;
   font-weight:bolder;
   font-size: 29px;
   display: inline-block;
   background-color: orange;
   border: 2px solid orange;
   border-radius: 25px;
   padding: 10px;
   box-shadow: 3px 3px 3px 3px rgb(71, 71, 71);
}

/* 3 works */

.first-second-third-works {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
    
}

.ads {
    width: 250px;
    height: 300px;
    background-color: white;
    border: 2px solid orange;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.ads-image {
    width: 250px;
    height: 150px;
    background-image: url(ADS.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ads-header {
    text-align: center;
    align-items: center;
    color: orange;
}

.ads-text {
    text-align: center;
    margin-top: 10px;
}

.learn-more {
    margin-top: 10px;
    text-decoration: underline;
}

/* graphic design */

.gd {
    width: 250px;
    height: 300px;
    background-color: white;
    border: 2px solid orange;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.gd-image {
    width: 250px;
    height: 150px;
    background-image: url(GD.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* web design */
.wd {
    width: 250px;
    height: 300px;
    background-color: white;
    border: 2px solid orange;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.wd-image {
    width: 250px;
    height: 150px;
    background-image: url(WD.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* 4th work */
.fourth-work {
    width: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seo {
    width: 254px;
    height: 304px;
    background-color: white;
    border: 2px solid orange;
    align-content: center;
    text-align: center;
    padding: 10px;
}
.seo-image {
    width: 250px;
    height: 150px;
    background-image: url(SEO.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.seo-header {
    text-align: center;
    align-items: center;
    color: orange;
}

.seo-text {
    text-align: center;
    margin-top: 10px;
}








